body {
  background-image: url("New/Fond d'acceuil PC.jpg");
  background-size: cover;
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat;
  min-height: 100vh;
}

.btn-rejoindre {
	width: 350px;
    height: 45px;
	
	text-align: center;
	
    display: inline-block;
    padding: 48px 96px;
    background-color: #0078ff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 40px;
	position: absolute;
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%);
}

.btn-rejoindre:hover {
    background-color: #005fcc;
	transform: translate(-50%, -50%) scale(1.1);
}

.btn-créer {
	width: 350px;
    height: 45px;
	
	text-align: center;
	
    display: inline-block;
    padding: 48px 96px;
    background-color: #0078ff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 40px;
	position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
}

.btn-créer:hover {
    background-color: #005fcc;
	transform: translate(-50%, -50%) scale(1.1);
}

@media screen and (max-width: 768px) {
	
html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
  background-image: url("New/index mobile.PNG");
  background-size: cover;
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat;
  min-height: 100vh;
}